/*colors:  
#FFFFFF - white background
#F8F8F8 - gray background
#1B1C21 - text color black
#7E7E82 - text color gray
#B8FFEC - focus border green
#41F6D7 - bright green for icons
#FF3E79 - pink for icons*/
::-webkit-scrollbar {
   width: 0;
 }
.screen1__scroll::-moz-scrollbar
{
width: 0px;
height: 0px;
}
html {
   -ms-overflow-style: none;
   overflow-y: scroll;
   scrollbar-width: none;
}
/*! HEADER*/
.header {
   background-color: #FFFFFF;
   height: 88px;
}
.navbar {
   height: 100%;
   display: flex;
}
.navbar__icon {
   display: none;
   margin: 5px;
   min-width: 40px;
   min-height: 40px;
   justify-content: space-between;
   margin: auto 16px auto 0;
   background-repeat: no-repeat;
}
.navbar__icon-text {
   display: none;
   font-size: 16px;
}
.navbar__icon:nth-child(1){
   display: block;
   margin-left: 16px;
   background: url(../img/burger.svg);
}

.navbar__icon:nth-child(6){
   background-image: url(../img/call.svg);
}
.navbar__icon:nth-child(7){
   background-image: url(../img/chat.svg);
}
.navbar__icon:nth-child(8){
   background-image: url(../img/profile.svg);
}
.navbar__divider:nth-child(10){
   display: none;
}
.navbar__icon:nth-child(11){
   display: block;
   margin-left: 16px;
   background-image: url(../img/repair.svg);
}
.navbar__icon:nth-child(12){
   display: block;
   background-image: url(../img/checkstatus.svg);
}
.navbar__logo {
   min-width: 96.55px;
   min-height: 50.81px;
   margin-top: auto;
   margin-bottom: auto;
   height: 50px;
   background-image: url(../img/logo.svg);
}
.navbar__divider {
   width: 2px;
   height: 32px;
   margin-top: auto;
   margin-bottom: auto;
   background-color: #EAEAEA;
   margin-left: auto;
}
.navbar__repair {
   margin: 0;
} 

/*! SCREEN 1*/
.screen1 {
   background-color: #F8F8F8;
}
.screen1__title-container {
   display: flex;
   padding-top: 24px;
}
.title {
   font-size: 28px;
   font-weight: 700;
}
.screen1__title {
   display: block;
   margin-top: auto;
   margin-bottom: auto;
}
.screen1__highlight {
   position: relative;
   top: 0;
   left: -4px;
   width: 8px;
   height: 40px;
   margin-right: 12px;
   border-radius: 10px;
   background-color: #41F6D7;
}
.screen1__scroll{
   display: flex;
   overflow: auto;
   width: 100%;
   height: auto;
   margin: 24px 16px;
   overflow: auto;
   -ms-overflow-style: none; /* IE 11 */
   scrollbar-width: none; /* Firefox 64 */
}
.screen1__opacity {
   position: absolute;
   z-index: 2;
   right: 0;
   width: 16px;
   height: 40px;
   background-image: linear-gradient(90deg, rgba(255,0,0,0), rgb(248, 248, 248) 80%);
}
.screen1__subheader-container {
   box-sizing: content-box;
   min-height: 40px;
   padding: 0 22px;
   white-space: nowrap;
   margin-left: 2px;
   margin-right: 2px;
   display: flex;
   border-radius: 6px;
}
.screen1__subheader-container:nth-child(2) {
   border: 2px solid #B8FFEC;
   background-color: #FFFFFF;
}
.screen1__subheader-container:hover {
   background-color: #FFFFFF;
   color: #7E7E82;
}
.screen1__subheader {
   z-index: 1;
   text-transform: capitalize;
   display: block;
   margin: auto;
}
.subheader {
   font-size: 16px;
   font-weight: 500;
   color: #7E7E82;
}
.screen1__article {
   padding-bottom: 36px;
}
.screen1__logo-photo {
   width: 100%;
   height: auto;
}
.screen1__paragraf {
   max-height: 90px;
   overflow: hidden;
   margin-right: 16px;
   margin-left: 16px;
   line-height: 18px;
   white-space: pre-line;
}
.screen1__read-more {
   font-size: 14px;
   display: flex;
   width: 132px;
   height: 24px;
   margin: 16px 0 16px 16px;
   font-weight: 500;
}
.screen1__drop-down {
   width: 24px;
   height: 24px;
}
.screen1__drop-line {
   margin: auto;
   width: 9px;
   height: 9px;
   transform: rotate(45deg);
   border-radius: 1px;
   border-right: 3px solid #41F6D7;
   border-bottom: 3px solid #41F6D7;
}
.screen1__drop-down-text {
   margin: auto;
}

@media (min-width:768px) {
   .navbar__icon:nth-child(1){
      margin-right: 20px;
      order: -2;
   }
   .navbar__divider:nth-child(5) {
      order: -1;
      margin-left: 0;
      margin-right: 20px;
   }
   .navbar__icon:nth-child(6){
      display: block;
      margin-left: auto;
   
   }
   .navbar__icon:nth-child(7){
      display: block;
   
   }
   .navbar__icon:nth-child(8){
      display: block;
      margin-right: 0;
   
   }
   .navbar__divider:nth-child(10){
      display: block;
      margin-left: 20px;
   }
   .navbar__icon:nth-child(11) {
      margin-left: 20px;
   }
   .screen1__highlight {
      margin-right: 18px;
   }
   .screen1__scroll {
      margin-left: 24px;
   }
   .screen1__article {
      display: flex;
      padding-bottom: 40px;
   }
   .screen1__paragraf {
      margin-left: 24px;
      min-height: 160px;
   }
   .screen1__logo-photo {
      border-radius: 5px;
      width: 100%;
      min-width: 40%;
      height: 100%;
   }
}
@media (min-width: 1120px)
{
   .header {
      height: 42px;
      background-color: #F8F8F8;
   }
   .navbar__logo {
      display: none;
   }
   .navbar__icon:nth-child(1){
      display: none;
   }
   .navbar__icon:nth-child(6){
      display: none;
   }
   .navbar__icon:nth-child(7){
      display: none;
   
   }
   .navbar__icon:nth-child(8){
      display: none;   
   }
   .navbar__divider{
      display: none;
   }
   .navbar__divider:nth-child(10){
      display: none;
   }
   .navbar__icon {
      background-position: 100% 100%;
   }
   .navbar__icon:nth-child(11){
      width: 180px;
      margin-left: auto;
      position: absolute;
      top: 42px;
      right: 232px;
   }
   .navbar__icon:nth-child(12){
      position: absolute;
      width: 173px;
      top: 42px;
      right: 32px;
      display: flex;
      margin-right: 0;
   }
   .navbar__icon-text {
      display: block;
      position: relative;
      top: 13px;
   }
   .screen1__title-container {
      padding-top: 0;
   }
   .screen1__opacity {
      display: none;
   }
   .screen1__highlight {
      margin-right: 30px;
   }
   
   .screen1__scroll {
      width: 95%;
      margin-left: 34px;
      margin-right: 32px;
      overflow: none;
      flex-wrap: wrap;
   }
   
   .screen1__article {
      display: flex;
      padding-bottom: 49px;
      
   }
   .screen1__paragraf {
      margin-left: 34px;
   }
   .screen1__read-more {
      margin-left: 32px;
   }
   .screen1__logo-photo {
      width: 50%;
      border-radius: 10px;
      margin: 0 32px 0 36px;
   }
}