* {
   box-sizing: border-box;
}
.container {
   width: 100px;
   height: 100px;
   background-color: blueviolet;
   margin: 10px;
   color: white;
   font-size: 30px;
   padding-top: 30px;
   text-align: center;
   float: left;
}

.container2 {
   width: 100px;
   height: 100px;
   background-color: tomato;
   margin: 10px;
   color: white;
   font-size: 30px;
   padding-top: 30px;
   text-align: center;
   float: right;
}
.container:nth-child(3n+4){
   clear:left;
}

.container2:nth-child(3n+4){
   clear:right;
}
p {
   clear:both;
}
.wrapper {
   display: inline-block;
}
.wrapper:nth-child(2n){
   float: right;
}
.wrapper:nth-child(2n+1){
   float: left;
}

